.result {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.4;
}
.result .message-success {
    color: #28a745; /* Зеленый */
    font-weight: 500;
}
.result .message-error {
    color: #dc3545; /* Красный */
}
.result ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: disc;
}